In [2]:
import re

# FINDALL()

In [6]:
txt = "The rain in spain"
x = re.findall('in',txt)
print(x)

['in', 'in', 'in']

# METACHARACTERS

In [13]:
txt = "The rain in spain"
x = re.findall('[a-z]',txt)
print(x)

['h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 's', 'p', 'a', 'i', 'n']

In [14]:
txt = "The rain in spain"
x = re.findall('[a-zA-Z]',txt)
print(x)

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 's', 'p', 'a', 'i', 'n']

In [15]:
txt = "The rain in spain"
x = re.findall('[^a-m]',txt)
print(x)

['T', ' ', 'r', 'n', ' ', 'n', ' ', '5', '9', ' ', 's', 'p', 'n']

In [17]:
txt = "The rain in 59 spain"
x = re.findall('\d',txt)
print(x)

['5', '9']

In [22]:
txt = "hello planet hemgo , he  o"
x = re.findall('he..o',txt)
print(x)

['hello', 'hemgo', 'he  o']

In [27]:
txt = "hello5G hello5 planet"
x = re.findall('^hello',txt)
print(x)

['hello']

In [36]:
txt = "hello5G hello5 planet"
x = re.findall('planet$',txt)
print(x)

['t']

In [42]:
txt = "hello planet"
x = re.findall('he.*o',txt)
print(x)

['hello']

In [43]:
txt = "hello planet"
x = re.findall('he.+o',txt)
print(x)

['hello']

In [44]:
txt = "hello planet"
x = re.findall('he.?o',txt)
print(x)

[]

In [48]:
txt = "helllo planet"
x = re.findall('he.{3}o',txt)
print(x)

['helllo']

In [49]:
txt = "hello planet"
x = re.findall('hello|world',txt)
print(x)

['hello']

# SPECIAL SEQUENCE

In [56]:
txt = "The rain in spain"
x = re.findall('\AThe',txt)
print(x)

['The']

In [68]:
txt = "The rain in spain"
x = re.findall(r'ain\b',txt)
print(x)

['ain', 'ain']

In [70]:
txt = "The rain in spain"
x = re.findall(r'\Bain',txt)
print(x)

['ain', 'ain']

In [74]:
txt = "The rain in 100 Rs"
x = re.findall('\d',txt)
print(x)

['1', '0', '0']

In [75]:
txt = "The rain in 100 Rs"
x = re.findall('\D',txt)
print(x)

['T', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', 'i', 'n', ' ', ' ', 'R', 's']

In [76]:
txt = "The rain in 100 Rs"
x = re.findall('\s',txt)
print(x)

[' ', ' ', ' ', ' ']

In [77]:
txt = "The rain in 100 Rs"
x = re.findall('\S',txt)
print(x)

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', '1', '0', '0', 'R', 's']

In [83]:
txt = "The rain in 100_Rs"
x = re.findall('\w',txt)
print(x)

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', '1', '0', '0', '_', 'R', 's']

In [82]:
txt = "The rain in 100 Rs"
x = re.findall('\W',txt)
print(x)

[' ', ' ', ' ', ' ']

In [87]:
txt = "The rain in 100 Rs"
x = re.findall('\Z',txt)
print(x)

['']

# SET

In [ ]:
[arn] , [^arn] , [0-9] , [0|2] , [0-5][0-9] , [a-zA-Z] , [$]

# SEARCH

In [90]:
txt = "The rain in spain"
x = re.search('in',txt)
print(x)

<re.Match object; span=(6, 8), match='in'>

In [95]:
txt = "The rain in spain"
x = re.split('n',txt,1)
print(x)

['The rai', ' in spain']

In [101]:
txt = "The rain in spain"
x = re.sub('\s','ðŸ˜‚',txt,2)
print(x)

TheðŸ˜‚rainðŸ˜‚in spain